.reset-list(){
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-link(){
  text-decoration: none;
  color: #000000;
  font: inherit;
}

.reset-text(){
  margin: 0;
  padding: 0;
}

.fullscreen(){
  width: 100%;
  height: 100vh;
}

.main-background(){
  background-color: #e3e3e4;
  background-image: url("../assets/img/bgtexture.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-layout(){
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.fix-height(){
  min-height: 600px;
}
.flex-container() {
  width: 90%;
  margin: 0 auto;
}
